body {
    margin: 0;
    padding: 0;
    background-color: #faf9ffe8;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.header {
    background-color: #003300;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header h1 {
    color: #ffcc00;
    margin: 0;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 60px;
    box-sizing: border-box;
}

.login-box, .register-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    box-sizing: border-box;
}

.login-box h2, .register-box h2 {
    margin-bottom: 20px;
}

.login-box input, .register-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-box input[type="checkbox"] {
    margin-right: 10px;
}

.login-box a, .register-box a {
    color: #007bff;
    text-decoration: none;
}

.login-box a:hover, .register-box a:hover {
    text-decoration: underline;
}

.login-box button, .register-box button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-box button:hover, .register-box button:hover {
    background-color: #0056b3;
}

.login-box p, .register-box p {
    font-size: 14px;
}

.login-box .remember-container, .register-box .remember-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.login-box .forgot-password, .register-box .forgot-password {
    display: block;
    text-align: left;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-top: 40px;
    }
    .login-box, .register-box {
        width: 90%;
    }
}
